<html>
  <head>
    <title>Jenny's Awesome Web Guesser</title>
  <link rel="stylesheet" type="text/css" href="/style.css">

  </head>
  <body class=<%= color %>>

    <p>
      <%= answer %><br><br>
      <%= guess_tracker %>
      <%= cheat %>
    </p>

    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>

  </body>
</html>
