/*body {
  background: #9C0101;
}*/

.red {
  background: #9C0101;
}

.pink {
  background: pink;
}

.green {
  background: green;
}

.white {
  background: white;
}

.purple {
  background: purple;
}
